<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.eco.musicplayer.audioplayer.music">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />

    <uses-permission android:name="com.android.vending.BILLING" />

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

    <application
        android:name=".activity.MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_quyen"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_quyen"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidTutorial"
        tools:targetApi="31">
        <activity
            android:name=".activityandservice.ConnectServiceActivity"
            android:exported="false" />
        <activity
            android:name=".layout.Paywall7Activity"
            android:exported="false" />
        <activity
            android:name=".layout.Paywall6Activity"
            android:exported="false" />
        <activity
            android:name=".layout.Paywall4Activity"
            android:exported="false" />
        <activity
            android:name=".layout.Paywall4ActivityNewBilling"
            android:exported="false" />
        <activity
            android:name=".layout.Paywall5Activity"
            android:exported="false" />
        <activity
            android:name=".layout.PayWallActivity"
            android:exported="false">

        </activity>
        <activity
            android:name=".layout.Paywall1Activity"
            android:exported="false" />
        <activity
            android:name=".layout.ItineraryActivity"
            android:exported="false" />
        <activity
            android:name=".lauchmode.ActivityC"
            android:exported="false"/>
        <activity
            android:name=".lauchmode.ActivityD"
            android:exported="false"
            android:launchMode="singleInstance" />
        <activity
            android:name=".lauchmode.ActivityE"
            android:exported="false" />
        <activity
            android:name=".activity.ActivityB"
            android:exported="false" />
        <activity
            android:name=".activityandfragment.NameActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ActivityA"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".roomdb.DemoRoomActivity"
            android:exported="false">


        </activity>

        <service android:name=".activityandservice.LearnService" />
        <service android:name=".activityandservice.LearnIntentService" />
        <service
            android:name=".activityandservice.MusicForegroundService"
            android:foregroundServiceType="mediaPlayback"
            android:exported="false"/>

        <provider
            android:name=".roomdb.contentprovider.UserPostProvider"
            android:authorities="com.eco.musicplayer.audioplayer.music.roomdb.contentprovider"
            android:exported="true"
            android:grantUriPermissions="true" />

    </application>

</manifest>